<div class="question">
  <fieldset>
    <legend align="center">QUESTION</legend>
    <%= @question.body %>
  </fieldset>
</div>



<div class="row">
  <div class="column">
    <%= button_to "#{@question.id}/check/a", {:controller => :questions, :action => 'check', :remote => true}  do %>
        <strong>A:</strong>
        <%= @question.a %>
    <% end %>
  </div>
  <div class="column">
    <%= button_to "#{@question.id}/check/b", {:controller => :questions, :action => 'check', :remote => true}  do %>
      <strong>B:</strong>
      <%= @question.b %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="column">
    <%= button_to "#{@question.id}/check/c", {:controller => :questions, :action => 'check', :remote => true}  do %>
      <strong>C:</strong>
      <%= @question.c %>
    <% end %>
  </div>
  <div class="column">
    <%= button_to "#{@question.id}/check/d", {:controller => :questions, :action => 'check', :remote => true}  do %>
      <strong>D:</strong>
      <%= @question.d %>
    <% end %>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
