<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 question">
    <div class="question">
      <fieldset>
        <legend>QUESTION</legend>
        <p>
          <%= @question.body %>
        </p>
      </fieldset>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-3">

    <div class="card answer" id="a" onclick="select('a')">
      <div class="row no-gutters">
        <div class="col-md-2">
          <strong>A</strong>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <p class="card-text">
              <%= @question.a %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card answer" id="c" onclick="select('c')">
      <div class="row no-gutters">
        <div class="col-md-2">
          <strong>C</strong>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <p class="card-text">
              <%= @question.c %>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-2"></div>

  <div class="col-md-3">

    <div class="card answer" id="b" onclick="select('b')">
      <div class="row no-gutters">
        <div class="col-md-2">
          <strong>B</strong>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <p class="card-text">
              <%= @question.b %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card answer" id="d" onclick="select('d')">
      <div class="row no-gutters">
        <div class="col-md-2">
          <strong>D</strong>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <p class="card-text">
              <%= @question.d %>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-2"></div>

</div>

<div class="row progressbar">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="progress">
          <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="20" style="width: 0"></div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>

<p id="duration"></p>

<% if current&.is_admin %>
  <div class="container">

    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Anwser</th>
        <th scope="col">Points</th>
      </tr>
      </thead>
      <tbody>
      <% @players.each_with_index do |player, i| %>
        <tr class="score">
          <th scope="row"><%= i + 1 %></th>
          <td><%= player.name %></td>
          <td></td>
          <td><%= player.points %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="margin: 0 auto;">
          <% if @rank != 0 %>
            <%= link_to "/reset", {:controller => :welcome, :action => 'reset', method: :post, class: "btn btn-secondary"} do %>
              <button type="button" class="btn btn-secondary">RESET</button>
            <% end %>
          <% end %>
          <button type="button" class="btn btn-secondary" disabled></button>
          <% if @rank < @max %>
            <%= link_to "/next", {:controller => :welcome, :action => 'next', method: :post, class: "btn btn-secondary"} do %>
              <button type="button" class="btn btn-secondary">NEXT</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
<% end %>


<script>
    let selected = "";
    let pending = true;
    let i = 0;

    const timer = setInterval(function () {
        i += 0.5;
        if (i <= 100) {
            document.getElementById("progressbar").style.width = i + 1 + "%";
        } else {
            clearTimeout(timer);
            const check = setInterval(function () {
                if (pending) {
                    pending = false;
                    setTimeout(function () {
                        $(() => $.ajax({
                            type: "POST",
                            url: "/questions/<%= @question.id %>/check/" + selected,
                            data: {player: <%= current.id %>}
                        }));
                    }, <%= current.is_admin ? 3000 : 0 %>)
                } else {
                    clearTimeout(check)
                }
            }, 1000);
        }

    }, 100);

    function select(x) {
        if (pending) {
            let cards = document.getElementsByClassName("answer")
            for (let i = 0; i < cards.length; i++) {
                cards.item(i).classList.remove("bg-warning");
            }
            document.getElementById(x).classList.add("bg-warning")
            selected = x
        }
    }

    updateRank = setInterval(function () {
        $(() => $.ajax({
            type: "GET",
            url: "/rank",
            success: function (data) {
                if (data !== <%= @question.rank %>) {
                    clearTimeout(updateRank)
                    if (data !== 0) {
                        window.location.replace("/questions/" + data);
                    } else {
                        window.location.replace("/");
                    }
                }
            }
        }));
    }, 1000);
</script>
