<!DOCTYPE html>
<html>
<head>
  <title>Blblquiz</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header>
  <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link " + (current_page?(root_path) ? "active" : "") %>
      </li>
      <li class="nav-item">
        <%= link_to "Players", players_path, class: "nav-link " + (current_page?(players_path) ? "active" : "") %>
      </li>
      <li class="nav-item">
        <%= link_to "Questions", questions_path, class: "nav-link " + (current_page?(questions_path) ? "active" : "") %>
      </li>
    </ul>
    <% if current %>
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#" id="points"><%= current.points %> points</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown ml-md-auto">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown">
              <%= current.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Quitter", {:controller => :players, :action => 'logout'}, method: 'post', class: "dropdown-item bg-dark" %>
          </div>
        </li>
      </ul>
    <% end %>
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <% if notice %>
        <div class="alert alert-dismissable alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
      <% end %>

      <div id="spell">
        <main>
          <div class="spell-card">
            <div class="spell-card__inner">
              <div class="spell-card__shape">
                <div class="spell-card__trace" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/ridi.svg');"></div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.22 187.39">
                  <clipPath id="clip-ridi">
                    <path d="M119.09,124l.91,1h.4a4.88,4.88,0,0,0,5.26,0H126l.53-.59a14.78,14.78,0,0,0,3-3.3L205,37s5-5,0-3l-82,79L52,34s-4-5-4,4,4,122,4,122-1,56,79,60c0,0,47.74,0,65.78-49.47-3,7.12-13,23.3-42.78,32.47,0,0-73,23-89-46L60,60l57.89,62.71A11.28,11.28,0,0,0,119.09,124Z"/>
                  </clipPath>
                  <path clip-path="url(#clip-ridi)" class="trace-motion" fill="none" stroke="#ddfffb" stroke-miterlimit="10" stroke-width="10" d="M207.22,33.9,123,120,54,45l3,85s-4,50,21,68,65,19,75,13c0,0,37.94-17.47,44.47-42.23" transform="translate(-48 -32.61)"/>
                </svg>

              </div>
              <div class="spell-card__name">
                <h5>Riddikkulus</h5>
              </div>
            </div>
          </div>
        </main>
      </div>

      <%= yield %>

    </div>
  </div>
</div>


<footer>
  made with ♥ for BlblTV by Théo Liberman
</footer>

</body>
</html>
