<!DOCTYPE html>
<html>
<head>
  <title>Blblquiz</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header>
  <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link " + (current_page?(root_path) ? "active" : "") %>
      </li>
      <li class="nav-item">
        <%= link_to "Players", players_path, class: "nav-link " + (current_page?(players_path) ? "active" : "") %>
      </li>
      <li class="nav-item">
        <%= link_to "Questions", questions_path, class: "nav-link " + (current_page?(questions_path) ? "active" : "") %>
      </li>
    </ul>
    <% if current %>
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#" id="points"><%= current.points %> points</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown ml-md-auto">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown">
              <%= current.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Quitter", {:controller => :players, :action => 'logout'}, method: 'post', class: "dropdown-item bg-dark" %>
          </div>
        </li>
      </ul>
    <% end %>
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <% if notice %>
        <div class="alert alert-dismissable alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </div>
</div>


<footer>
  made with ♥ for BlblTV by Théo Liberman
</footer>

</body>
</html>
